.active{
    background-color: #fff3cd;
    color: black;
}

.active:hover{
    background-color: #fff3cd;
    color: black;
}

.category{
    position: relative;
    border-radius: 5px;
    transition: all .5s;
}

.category:hover{
    transform: translateX(10px);
}

.card-body button:hover{
    border: 1px solid #dc3545;
    color: #dc3545;
}